#wrapper
{
	height:950px;
	width:960px;
	margin:0 auto;
	background-image:url("images/pink_rice.png");
	border-radius:20px 20px 0px 0px;
}

#header,#footer
{
	width:100%;
}


#header
{
	height:20%;
}

#myName,#contact,#menu,table
{
	width:70%;
}

#myName
{
	height:25%;
	float:left;
}

#contact
{
	height:35%;
	float:right;

}

#menu
{
	height:20%;
	float:left;
}

#picture
{
	height:100%;
	width:30%;
	float:right;
}

#unitato
{
	width:100%;
}

#middle
{
	height:65%;
	width:100%;
}

#edu,#achiev,#main
{
	height:100%;
	float:left;
}

#edu
{
	width:25%;
}

#main
{
	width:50%;
}

#aboutMe
{
	height:30%;
}

#work
{
	height:70%;
}

#achiev
{
	width:25%;
}

#footer
{
	height:15%;
}

h1,h2,h3,h4,p,table,ul
{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

h1,h2,h3,h4,p,table
{
	padding-left:5%;
}

#contactInfo
{
	font-size:100%;
	line-height:150%;
}

#aboutText
{
	font-size:90%;
	line-height:105%;
}

.big
{
	font-style:bold;
}

#bigPhone,#gMSS
{
	padding-left:5%;
}

table
{
	text-align:left;
	padding-top:2%;
}