/*
#
{
	
	
}
*/

#wrapper
{
	height:950px;
	width:960px;
	margin:0 auto;
	background-image:url("pink_rice.png");
	border-radius:20px 20px 0px 0px;
}

#header,#footer
{
	width:100%;
}


#header
{
	height:20%;
}

#myName
{
	height:25%;
	width:70%;
	/*background-color:LightBlue;*/
	float:left;
}

#contact
{
	height:30%;
	width:70%;
	float:right;
	/*background-color:Lavender;*/
	
}

#picture
{
	height:100%;
	width:30%;
	float:right;
	/*background-color:orange;*/
}

#unitato
{
	width:100%;
}

#aboutMe
{
	width:70%;
	height:40%;
	/*background-color:PeachPuff;*/
	line-height:90%;
	float:left;
	
}

#middle
{
	height:70%;
	width:100%;
	background-color:SteelBlue;
}

#sideLeft,#main,#sideRight
{
	height:100%;
	float:left;
	
}

#sideLeft,#sideRight
{
	width:15%;
	background-color:SeaShell;
}

#sideLeft
{
	background-color:PaleVioletRed;
}

#main
{
	width:70%;
	background-color:Plum;
}

#sideRight
{
	background-color:Bisque;
}

#footer
{
	height:10%;
	background-color:SlateBlue;
}

h2,#contactInfo,#aboutText
{
	font-family:"Helvetica";
	padding-left:5%;
}

#aboutText
{
	line-height:105%;
}

#contactInfo
{
	line-height:150%;
}

.thick
{
	font-weight:bold;
}